html,body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow:hidden;
    overflow-x: hidden;
}

#container {
    height:90%;
    width:auto;
	margin-top: 65px;
    white-space:nowrap;
    overflow:hidden;
}
#iframe {
    border:1px solid black;
    background:rgb(247, 254, 255);
    height:100%;
    /* display:inline-block;  */
    width:100%;
    /* what is inline */  
}

#iframeOuter{
    border:1px solid black;
    background:rgb(247, 254, 255);
    height:50%;
    /* display:inline-block;  */
    width:100%;
    /* what is inline */  
}

#editors {
    border:1px solid black;
    position: relative;
    background-color:#21222C;
    height:100%;
    width:100%;
    /* what is inline */
    /* display:inline-block;  */
}
.editor {
    border:1.5px solid black;
    position: absolute;
    /* background: blue; */
    top:0%;
    height:100%;
    width:100%;
}


.task {
    border:1.5px solid black;
    position: absolute;
    background: white;
    top:0%;
    height:100%;
    width:100%;
}

#htmlEditor {  
    left:0%; 
	height: 100%;
    width: 100%;	
}
#cssEditor {
    left:0%; 
	height: 100%;
    width: 100%;	
	
    /* cursor: col-resize; */
	 
}
#jsEditor {
     left:0%; 
	height: 100%;
    width: 100%;	
}

#text {
    color:white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.button {
    background-color: DodgerBlue;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
}

.minButton {
    position:absolute;
    left:0%;
}

.downloadCode {
    position:absolute;
    left:0%;
}

.maxButton {
    position:absolute;
    right:0%;
}

/*
body{
    background: #2a522f;
}
*/

img{
    max-width: 100%;
    max-height: 100%;
	height: 20px;

}

.header {
	position: fixed;
    align-items: center;
    display: flex;
	width: 99%;
	left: 1px;
    justify-content: center;
    background-color: #f1f1f1;
    margin-top: 1px;
	margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    font-size: 1.0em;
    font-weight: bold;
    height: 8px;
    color: #2e2e2e;
  }


/* Style the top navigation bar */
  .under_header {
	position: fixed;
    width: 99%;
	left: 1px;	
    overflow: hidden;
    background-color: #2e2e2e;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  
  /* Style the topnav links */
  .under_header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .under_header a:hover {
    background-color: #ddd;
    color: black;
  }
  
.under_header .language { float:left }
.under_header .view { float:right }


.flex-parent-element {
  display: flex;
  width: 100%;
  height: 100%
}

/* Hides the scrollbar while still able to scroll 
 ::-webkit-scrollbar {
    width: 50px;   Remove scrollbar space 
    background: white;  /* Optional: just make scrollbar invisible 
} */

.flex-child-element {
  flex: 1;
  border: 1px solid blueviolet;
  margin: 10px;
  width: 100%;
  height: 100%
}

.flex-child-element:first-child {
  margin-right: 1px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #8070d4;
}
